{{ define "main" }}
<article class="box:border-box">
  <header class="mb:32">
    <div class="mobile-only-header">
      {{ partial "mobile_avatar.html" . }}
      <img class="site-heading-svg" src="/svg/header-nassredean-nasseri-lowercase.svg" alt="nassredean nasseri" />
    </div>
    <div class="post-title font:40 font:extrabold">{{ .Title }}</div>
    <div class="mt:16 f:fade-60">
      {{- if isset .Params "date" -}}
      {{ if eq .Lastmod .Date }}
      <time>{{ .Date | time.Format (":date_medium") }}</time>
      {{ else }}
      <time>{{ .Lastmod | time.Format (":date_medium") }}</time>
      {{ end }}
      {{- end -}}
    </div>
  </header>
  {{- partial "prose.html" . -}}
</article>
{{ end }}
