{{ define "main" }}

<article class="box:border-box pt:32">
  <div class="d:flex flex:col">
    {{- partial "prose.html" . -}}

    <header class="mb:32">
      <img class="site-heading-svg" src="/svg/header-nassredean-nasseri-lowercase.svg" alt="nassredean nasseri" />
    </header>


    {{- range where site.RegularPages "Type" "in" site.Params.mainSections -}}

    {{- partial "li.html" ( dict "url" .Permalink "title" .Title "subTitle" (.Date | time.Format (":date_medium")) ) -}}
    {{- end -}}
  </div>
</article>
{{ end }}
